{% load static %} 
{% load crispy_forms_tags %}
<!doctype html>
<html lang="es">
  <head>
	
  	<title>Contacto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/csscontacto/estilos.css">

	<div class="container">
		<div class=" text-center mt-5 ">
	
				
			{{mensaje}}		
		</div>
	
	
	
	  <div class="col-lg-6 mx-auto">
		<div class="card mt-5 mx-auto p-4 bg-light">
			<div class="card-body bg-light">
	   
			<div class = "container-1">
				<form id="contact-form" role="form" method="post">
	
					<h1 >Contacto Nuevos Horizontes</h1>
	
			
				{% csrf_token %}
				{{form | crispy}}
	
				
				
				
	
	
					<div class="col-md-12">
						
						<input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Enviar	" >
							
					
				</div>
		  
				
	
			</form>
		</div>
		 
		</div>
			</div>
	
	
	</div>
		<!-- /.8 -->
	
	
	<!-- /.row-->
	
	</div>
	
	
		

  <script src="static/jscontacto/jquery.min.js"></script>
  <script src="static/jscontacto/popper.js"></script>
  <script src="static/jscontacto/bootstrap.min.js"></script>
  <script src="static/jscontacto/jquery.validate.min.js"></script>
  <script src="static/jscontacto/main.js"></script>

	</body>
</html>

