<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="../../../static/css/edicion.css">
<div class="container">

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">

            <div class="card-title">
                <h2>Edicion de Apoderado</h2>
            </div>

                <div class="card-body">               
                    <form action="/editarApoderado" method="POST">{% csrf_token %}
                        
                        
                        <div class="form-group">
                            <label for="">Rut</label>
                            <input type="number"  name="rut" class="form-control" required="required" maxlength="8" value="{{id.rut_apoderado}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">DV</label>
                            <input type="text" required="required" maxlength="15" name="dv" class="form-control"  maxlength="1" value="{{id.dv_apoderado}}">
                        </div>
                        <div class="form-group">
                            <label for="">Primer Nombre</label>
                            <input type="text" required="required" maxlength="15" name="pnombre" class="form-control" value="{{id.p_nombre}}">
                        </div>
                        <div class="form-group">
                            <label for="">Segundo Nombre</label>
                            <input type="text" required="required" maxlength="15" name="snombre" class="form-control" value="{{id.s_nombre}}">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido Paterno</label>
                            <input type="text" required="required" maxlength="15" name="appaterno" class="form-control" value="{{id.ap_paterno}}">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido Materno</label>
                            <input type="text" required="required" maxlength="15" name="apmaterno" class="form-control" value="{{id.ap_materno}}">
                        </div>
                        <div class="form-group">
                            <label for="">Telefono</label>
                            <input type="text" required="required" name="telefono" class="form-control" maxlength="11" value="{{id.telefono}}">
                        </div>
                        
                        <div class="form-group">
                            <label for="">Direccion</label>
                            <input type="text" required="required" name="direccion" class="form-control" maxlength="25" value="{{id.direccion}}">
                        </div>
                        <div class="form-group">
                            <label>Comuna: </label>
                            <select name="idcomuna">
                                
                                {% for x in comunas %}
                                {% if id.id_comuna.id_comuna == x.id_comuna %}
                                <option value="{{ x.id_comuna }}" selected>{{ x.nombre }}</option>
                                {% else %}
                                <option value="{{ x.id_comuna }}" >{{ x.nombre }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Colegio: </label>
                            <select name="idcolegio">
                                
                                <option value="{{ id.id_colegio.id_colegio }}" selected readonly>{{ id.id_colegio.nombre }}</option>
                               
                            </select>
                        </div>
                        
                        

                        <br>
                        <button type="submit" class="btn btn-primary">Editar</button> 
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

