{% load static %}
<!doctype html>
<html lang="en">
  
    <title>Matriculas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/establecimiento.css">
    <script type="text/javascript">
        function ConfirmDelete()
        {
            var respuesta = confirm("¿Estas seguro que deseas eliminar?");

            if (respuesta == true)
            {
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>
  
      <div class="card-responsive"> 
          <div class="card-header">
              <div class="row">
                  <div class="col-4">
                    Bienvenido {{ user.first_name.upper }} {{ user.last_name.upper }}
                  </div>
                  <div class="col-2 offset-6 justify-items-end" >
                    <a name="" id="" class="btn btn-primary" href="{% url 'logout' %}" role="button">Cerrar Sesion</a>
                    <input class="btn btn-primary" value="Volver" onclick="history.back()">
                  </div>

              </div>
              
          </div>
          <div class="container">
            <div class="card-body">
                <h4 class="card-title">Matriculas <a name="" id="" class="btn btn-success" href="{% url 'ingresarMatricula' %}" role="button">Agregar</a></h4>
                  <table class="table table-hover">
                      <thead>
                          <tr>                            
                              <th>Fecha Inicio</th>
                              <th>Fecha Termino</th>
                              <th>Valor</th>
                              <th>Estado</th>      
                              <th>Año</th>     
                              <th>Alumno</th>                    
                              <Th>Acciones</Th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for x in matriculas %}
                          <tr>
                              
                              <td>{{x.fecha_inicio}}</td>
                              <td>{{x.fecha_termino}}</td>
                              <td>{{x.valor}}</td>
                              {% if x.pago == 'P' %}
                              <td>Pagado</td>
                              {% else %}
                              <td>Pendiente</td>
                              {% endif %}
                              <td>{{x.annio}}</td>
                              <td>{{x.rut_alumno.p_nombre}} {{x.rut_alumno.s_nombre}} {{x.rut_alumno.ap_paterno}}</td>
                             
                              
                              <td><a name="" id="" class="btn btn-info" href="Matriculas/edicionMatricula/{{x.id_matricula}}" role="button">Editar</a>  <a name="" id="" class="btn btn-danger" onclick="return ConfirmDelete()" href="Matriculas/eliminarMatricula/{{x.id_matricula}}" role="button">Borrar</a></td>
                              
                              
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  
                
            </div>
          </div>